@model TicketingSystemLibrary.Models.Ticket

<h1 style="color:white">Buy Ticket for Event: @Model.EventName</h1>



<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 50vh;>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm rounded-lg">
                <div class="card-body rounded-lg">
                    <h2 class="text-center mb-4">Fill up</h2>
                    <form asp-controller="Ticket" asp-action="Create" method="post">
                        <div class="form-group">
                            <label asp-for="CustomerName">Customer Name</label>
                            <input asp-for="CustomerName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                        </div>
                        <input asp-for="EventID" type="hidden" />
                        <button type="submit" class="btn navbar-btn">Buy Ticket</button>
                        <a asp-action="Index" asp-controller="Home" class="btn navbar-btn">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>