﻿@{
    ViewData["Title"] = "Purchass Successful";
}

@* <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h2>Ticket Successful purchased!</h2>
                </div>
                <div class="card-body text-center">
                    <p>Your Ticket and QR code has been sent to your email. Please check your inbox!</p>
                    
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div> *@


<h2>Ticket Purchase Successful!</h2>
<p>Thank you for purchasing a ticket! You should receive a confirmation email shortly.</p>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go to Home Page</a>

<footer>
    © 2024 - Ticketing System - <a asp-action="Privacy" asp-controller="Home">Privacy</a>
</footer>