@{
    ViewData["Title"] = "About Us";
}
<div class="styled">

    <h1>@ViewData["Title"]</h1>

    <p>Welcome to TicketingSystem! We are a leading online platform dedicated to making event ticket purchasing convenient, reliable, and accessible for everyone. Our goal is to connect people with the experiences they love, whether it's a concert, festival, theater production, or sporting event. Below, you will find more information about our mission, core values, and the talented team behind TicketingSystem.</p>

    <center><h2>Our Mission</h2></center>
    <p>Our mission is to revolutionize the way people access live events by providing an intuitive, secure, and efficient ticketing platform. We strive to empower event-goers to seamlessly connect with their favorite experiences and create lifelong memories, all while ensuring a smooth and enjoyable ticketing process.</p>

    <h2>Our Values</h2>
    <ul>
        <li><strong>Customer First</strong>: Our customers are at the heart of everything we do. We work tirelessly to provide an outstanding and personalized experience to every individual.</li>
        <li><strong>Innovation</strong>: We are committed to utilizing cutting-edge technology to continuously improve the ticketing process and make it as user-friendly and accessible as possible.</li>
        <li><strong>Integrity</strong>: Trust is paramount to us. We ensure transparency in all our interactions and strive to build strong, trustworthy relationships with our customers, partners, and stakeholders.</li>
        <li><strong>Community</strong>: We believe in the power of live events to bring people together and create a sense of community. We are passionate about making these experiences available to as many people as possible.</li>
    </ul>

    <h2>Meet Our Team</h2>
    <ul>
        <li><strong>John Doe</strong> - Head of Operations: John has over 10 years of experience in event management and ensures that our processes are efficient, effective, and customer-focused.</li>
        <li><strong>Jane Smith</strong> - Marketing Lead: Jane is passionate about bringing people together through live experiences. She oversees all our marketing campaigns, helping our customers discover exciting events and experiences.</li>
        <li><strong>Michael Lee</strong> - Technical Lead: Michael oversees the technical infrastructure of TicketingSystem. His expertise ensures that our platform is fast, reliable, and equipped to handle high demand, giving customers a smooth and secure ticket-buying experience.</li>
    </ul>

    <p>Thank you for choosing TicketingSystem. We are thrilled to be part of your journey, bringing you closer to the events and experiences that matter most. Together, let's make every event unforgettable!</p>
<div>