﻿@{
    ViewData["Title"] = "Index Page";
}


@model List<TicketingSystemLibrary.Models.Event>

<h2>Events</h2>
<div class="events-list">
    <ul>
        @foreach (var eventObj in Model)
        {
            <li>
                <div>
                    <strong>@eventObj.EventName</strong> <br />
                    Date: @eventObj.EventDate.ToString("yyyy-MM-dd") <br />
                    Location: @eventObj.Location <br />
                    <!-- Buy Ticket Button -->
                    <a asp-controller="TicketControllerHttp" asp-action="Create" asp-route-eventId="@eventObj.EventID" class="btn btn-success">Buy Ticket</a>
                </div>
            </li>
        }
    </ul>
</div>
